.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 60px 60px 54px;
    width: 700px;

    border-radius: 50px;
    background-color: #fff;

    font-size: 18px;
    line-height: 28.8px;
}

.popup__title {
    margin: 0 0 45px;

    font-weight: 500;
    font-size: 40px;
    line-height: 44px;

    text-align: center;
}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    color: #000;
}

.popup__label {
    font-weight: 500;

    display: block;

    margin-bottom: 15px;
}

.popup__input {
    border: 1px solid rgba(228, 228, 228, 1);

    width: 100%;

    border-radius: 12px;
    padding: 20px 30px;
}

.popup__submit {
    padding: 18px 48px;

    border: none;
    border-radius: 100px;

    color: #fff;
    background-color: rgba(181, 86, 239, 1);
}

.popup__alternative {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.popup__or {
    margin: 10px 0;

    font-weight: 500;
    text-align: center;
}

.popup__link {
    padding: 18px 48px 20px;

    color: rgba(181, 86, 239, 1);
    text-align: center;

    border: 1px solid rgba(181, 86, 239, 1);
    border-radius: 100px;
}
